BeautifulSoup==3.2.1
Flask==0.10.1
Flask-RESTful==0.2.12
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.4.0
PyYAML==3.11
Werkzeug==0.9.6
amqp==1.4.6
aniso8601==0.82
anyjson==0.3.3
backports.ssl-match-hostname==3.4.0.2
billiard==3.3.0.19
celery==3.1.17
certifi==14.05.14
cssselect==0.9.1
eventlet==0.15.0
flower==0.7.3
gensim==0.10.3
gevent==1.0.1
goose-extractor==1.0.22
greenlet==0.4.2
gunicorn==19.1.0
ipython==2.3.0
itsdangerous==0.24
jdcal==1.0
jieba==0.32
kombu==3.0.24
lxml==3.3.5
meld3==1.0.0
ner==0.1
nltk==3.0.0
numpy==1.9.2
openpyxl==2.1.4
progressbar==2.3
pymongo==2.7.1
pyttsx==1.1
pytz==2014.10
redis==2.10.3
requests==2.3.0
scikit-learn==0.15.0
scipy==0.15.1
selenium==2.43.0
six==1.9.0
supervisor==3.1.0
text-sentence==0.14
textblob==0.9.0
tornado==4.0.2
wsgiref==0.1.2
