BeautifulSoup==3.2.1
Flask==0.10.1
Flask-RESTful==0.2.12
Jinja2==2.7.3
MarkupSafe==0.23
Pillow==2.4.0
PyYAML==3.11
Werkzeug==0.9.6
amqp==1.4.6
aniso8601==0.82
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.18
celery==3.1.13
cssselect==0.9.1
eventlet==0.15.0
gevent==1.0.1
greenlet==0.4.2
gunicorn==19.1.0
ipython==2.3.0
itsdangerous==0.24
jieba==0.32
kombu==3.0.21
lxml==3.3.5
meld3==1.0.0
ner==0.1
nltk==2.0.4
numpy==1.8.1
pymongo==2.7.1
pyttsx==1.1
pytz==2014.4
redis==2.10.3
requests==2.3.0
scikit-learn==0.15.0
scipy==0.14.0
selenium==2.43.0
six==1.7.3
supervisor==3.1.0
textblob==0.8.4
wsgiref==0.1.2
