<div class="row">
	<div class="col s12">
		<div id="detail-close"><a href="#">x</a></div>
		<div class="pickery_details">
			<h4>Showing <span class="specialFont specialColor">{{name}}</span></h4>
		</div>
	</div>
	<div class="col s12">
		<div class="row">
			<div class="col s12">
				<div class="card-panel" id="ambience">
					<h6>Ambience</h6>
				</div>
			</div>
			<div class="col s12">
				<div class="card-panel" id="cost">
					<h6>Cost</h6>
				</div>
			</div>
			<div class="col s12">
				<div class="card-panel" id="service">
					<h6>Service</h6>
				</div>
			</div>
			<div class="col s12">
				<div class="card-panel" id="food">
					<h6>Food</h6>
				</div>
			</div>
		</div>
	</div>
</div>