<div class="card-content" style="background-color: #342800">
	<span class="card-title activator" style="font-size: 80%">{{name}}<i class="material-icons right">more_vert</i></span>
	<p><a style="font-size: 80%" class="data-click-eatery">{{eatery_name}}</a></p>
</div>

<div class="card-reveal">
	<span class="card-title grey-text text-darken-4" style="font-size: 80%; background-color: #7A9A95">
				<p>superpositive: {{superpositive}}</p>
				<p>positive: {{positive}}</p>
				<p>neutral: {{neutral}}</p>
				<p>negative: {{negative}}</p>
				<p>supernegative: {{supernegative}}</p>
				<i class="material-icons right">close</i>
		</span>
</div>