/*
Table of Content :-
	- Base Layout
	- Preloader
	- Lander Page
	- Navigation
*/

/*Materialize OverRide*/
.dropdown-content li > a, .dropdown-content li > span {
	font-size: 1rem;
	color: #212121;
}

nav .nav-wrapper i {
	font-size: 1rem;
}

/*-------  Base Layout  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	font-size: 75%;
}

body {
	background-color: #f5f5f5;
	color: #212121;
	-webkit-text-size-adjust: none;
	overflow: hidden;
	font-family: 'Lora', serif;
}

html,
body {
	height: 100%;
}

h1, h2, h3, h4,
.specialFont {
	font-family: 'Montserrat', sans-serif;
}

.specialColor {
	color: #e53935!Important;
}

.specialColor2 {
	color: #448aff!Important;
}

/*-------  Base Layout Ends  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/



/*-------  Application Layout  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/
.doof-container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.b-doof-header {
	height: 64px;
}

.b-doof-main {
	height: auto;
	width: 100%;
	position: absolute;
	top: 64px;
	bottom: 0;
	left: 0;
}

.b-doof-main.landingPage {
	top: 0!important;
}

.doof-main-row {
	margin-bottom: 0;
	height: 100%;
}

/*-------  End of Application Layout  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/

/*-------  Header Layout  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/
nav {
  background-color: #fff!important;
}
nav ul > li {
	line-height: inherit;
}

nav ul li a {
	color: #212121;
}

nav .brand-logo {
	margin-left: 20px;
}

nav .brand-logo,
nav ul li.active a,
nav ul li:hover > a {
	color: #e53935!important;
}

nav ul li:hover, nav ul li.active {
	background-color: transparent;
}

/*-------  Header Layout Ends  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/

/*-------  Application Layout Ends  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/
.google-map-col, .pickery-items-col {
	padding: 0!important;
	height: 100%;
	z-index: 1;
}

#googleMap {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
}

.pickery-items-col {
	-webkit-overflow-scrolling: touch;
	overflow-x: hidden;
	overflow-y: auto;
}

.single-item-details-col {
	position: absolute;
	-webkit-overflow-scrolling: touch;
	height: 100%;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff;
	display: none;
}

.single-item-details-col #detail-close {
    position: absolute;
    top: 0;
    right: 0;
}

.single-item-details-col #detail-close i {
    margin: 18px;
    font-size: 1.4rem;
	color: #e53935;
}

.b-doof-chat-box  {
	position: fixed;
	bottom: 0;
	right: 4%;
	z-index: 10;
}

/*-------  Pickery Card Layout  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/
.pickery-card {
	background-color: #fff;
	overflow: hidden;
}

.pickery-card .card-content {
	color: #fff;
	padding: 15px;
}

.pickery-card .card-title {
	background: rgba(255, 255, 255, 0.6);

	margin: 0px auto;
	padding: 15px 0px 0px;
	text-align: center;
}

.pickery-card .card-title h4 {
	font-size: 1.5rem;
	line-height: 1.8rem;
	letter-spacing: 0px;
	text-transform: capitalize;

	margin: 0;
}

.pickery-card .card-title h6 {
	color: #212121;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: 0.6px;
}

.pickery-card .card-description {
	margin-top: 15px;
}

.pickery-card .card-description-item {
	margin-top: 10px;
	font-size: 1em;
	overflow: hidden;
}

.pickery-card .card-description-item:before {
	float: left;
	width: 0;
	white-space: nowrap;
	content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
	color: #212121;
}

.pickery-card .card-description-title {
	background: white;
	color: #212121;
}

.pickery-card .card-description-answer {
	float: right;
	/*padding-left: 0.4em;*/
	/*padding-right: 0.15em;*/
	background: white;
}

.pickery-card .card-action, .pickery-card.food .card-content {
	text-align: center;
}

/*-------  End of Pickery Card Layout  ----------*/
/*----------------------------------------------------------------------------------------------------------------------*/

.searchFormRow > .row {
	margin-bottom: 0!important;
}

.searchLabel {
	margin-left: 5px;
	font-size: 1rem;
}