           
@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Audiowide);
@import url(http://fonts.googleapis.com/css?family=Margarine);
@import url(http://fonts.googleapis.com/css?family=Marko+One);

body {
	  /*  background-image: url("images/bg_1_4.jpg"); */.
	}

.scrollable-menu {
	    	height: auto;
		max-height: 200px;
		overflow-x: hidden;
	    	width: 15px;
		max-width: 20px;
}

.shadow {
	    -webkit-filter: drop-shadow( -3px -3px 5px #000 );
	                filter: drop-shadow( -5px -5px 5px #000 ); /* Same syntax as box-shadow */
		}



#infobox {
	border:2px solid black;
	background: white;
	color:black;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-color: black;
	padding: .5em 1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow:0 -1px #000000;
	-webkit-box-shadow: 0 0  8px #000;
	box-shadow: 0 0 8px #000;
						    }



#rcorners2 {
	    border-radius: 20px;
	        border: 2px solid #8AC007;
		    padding: 20px; 
		    }
.searchbox{
    background-color:#fffbf8;
    padding:13px;
    width:335px;
    margin:100px auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    border-radius:6px;
    -webkit-box-shadow:
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    -moz-box-shadow: 
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
    box-shadow: 
        0 2px 4px 0 rgba(72, 72, 72, 0.83),
        0 10px 15px 0 rgba(126, 126, 126, 0.12),
        0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset, 
        0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
}


