/* Preloader */

.loader-container {
	height: 100%;
}
.preloader {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.preloader-container {
	margin: 0 auto;
}

.loadingText {
	text-transform: capitalize;
	letter-spacing: .2em;
	font-size: x-large;
	font-variant: small-caps;
	font-weight: bold;
}


.preloader-container{
	padding: 30px;
	text-align: center;
	margin: 0 auto;
}

.preloader-container h2{
	font-size: 15em;
	line-height: 180px;
	padding: 30px 30px 40px;
	color: rgba(100,100,100,0.9);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);


	background-size: 300% 100%;
	background-position: center left, top left;

	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;

	-webkit-transition: all 1.8s linear;
	-moz-transition: all 1.8s linear;
	-o-transition: all 1.8s linear;
	-ms-transition: all 1.8s linear;
	transition: all 1.8s linear;

	-moz-border-radius: 90px 15px;
	-moz-box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.4);

}