<div class="top-menu navbar navbar-fixed">
	<div class="menu-wrapper">
		<div class="left">
			<div class="doof-logo">Doof</div>
		</div>

		<div class="user-presence right">
			{{#if isUserPresent}}
				<ul class="user-dropdown dropdown-content" id="user_dropdown">
					<li>
						<a href="#/application" class="lander-go_to_application">
							<i class="fa fa-arrow-circle-right material-icons left"></i><span>Go to Application</span>
						</a>
					</li>
					<li>
						<a href="#" class="lander-logout_user">
							<i class="fa fa-power-off material-icons left"></i><span>Logout</span>
						</a>
					</li>
				</ul>
				<a href="#" class="user_dropdown-button fb-button waves-effect waves-light btn" data-activates="user_dropdown" data-beloworigin="true" data-hover="true">
					<img src="{{facebookPictureUrl}}" alt="{{name}}" class="circle user__img"><span>{{userName}}</span><i class="mdi-navigation-expand-more right"></i>
				</a>
			{{else}}
				<a href="#" class="lander-facebook_login fb-button waves-effect waves-light btn">
					<!--<i class="fa fa-facebook material-icons left"></i>-->
					<span>Facebook Login</span>
				</a>
			{{/if}}
		</div>
	</div>
</div>

<div class="slider fullscreen">
	<ul class="slides">
		<li>
			<!--<img src="https://images.unsplash.com/photo-1436891620584-47fd0e565afb?q=80&fm=jpg&s=33cf5b0ee9fbd292475a0c03bee481c9" alt="">-->
			<img src="css/images/lunchtable.jpg" alt="">
			<div class="caption center-align">
				<h2>Welcome to Doof</h2>
				<p class="">We felt the need to summarize the language.</p>
			</div>
		</li>
		<li>

			<img src="https://images.unsplash.com/photo-1433840496881-cbd845929862?q=80&fm=jpg&s=c9a1a21dbf8a9d16477ea4b54afc8a48" alt="">
			<div class="caption center-align">
				<h2>We use Natural Language Processing</h2>
				<p class="">to process social media data to summarize results.</p>
			</div>
		</li>
		<li>

			<img src="https://images.unsplash.com/photo-1415226581130-91cb7f52f078?q=80&fm=jpg&s=733e6cc3da4cfe42230a80b76d41c42c" alt="">
			<div class="caption center-align">
				<h2>Click Anywhere on the Map</h2>
				<p class="">to see trending eatries around that location.</p>
			</div>
		</li>
		<li>

			<img src="https://images.unsplash.com/photo-1431578500526-4d9613015464?q=80&fm=jpg&s=169b4f4e6f3882a03b6b93b2e6848052" alt="">
			<div class="caption center-align">
				<p class="">Please make sure that you</p>
				<h2>share your location with us</h2>
				<p class="">to help you better.</p>
			</div>
		</li>
	</ul>
</div>